body {
    margin: 0px;
    padding: 0px;
}
#container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    min-width: 1000px;
    min-height: 600px;
}
.tv {
    height: 335%;
    bottom: -80%;
    right: -58%;
    aspect-ratio: 1.15;
    /* height: 65%; */
    /* bottom: 28%; */
    /* right: 8%; */
    position: absolute;
    background-size: cover;
    transition: 0.5s;
}
#tv {
    z-index: -5;
    background-image: url("assets/low_resolution/tvo.png");
	filter: drop-shadow(-75px 50px 15px rgba(0, 0, 0, 0.4));
}
#tv_body {
    z-index: -5;
    background-image: url("assets/low_resolution/tv_bodyo.png");
    filter: drop-shadow(-2px 8px 5px rgba(65, 42, 37, 0.9));
	pointer-events: none;
}
#tv_screen {
    z-index: -5;
    background-image: url('assets/low_resolution/tv_screeno.png');
    mix-blend-mode: multiply;
    opacity: 0;
	cursor: pointer;
}
#stand {
    height: 285%;
    bottom: -333%;
    aspect-ratio: 1.57;
    right: -80%;
    /* height: 55%; */
    /* bottom: -25%; */
    /* right: 5.5%; */
    position: absolute;
    z-index: -10;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.3)) drop-shadow(-75px 50px 25px rgba(0, 0, 0, 0.5));
    background-image: url("assets/low_resolution/stando.png");
    background-size: cover;
    transition: 0.5s;
    z-index: 1;
}
#room_zoom {
    transform: scale(2) translate(10%);
    /* transform: scale(1); */
    transition: 0.5s;
    height: 100%;
    width: 100%;
    z-index: -999;
    position: absolute;
}
#room {
    background-image: url("assets/low_resolution/roomaa.png");
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    z-index: -999;
}
#about_background {
	margin: 75px 75px 75px 160px;
    padding: 25px 50px;
    height: 75%;
    position: absolute;
	border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 15px; 
	border-color: rgba(255, 255, 255, 0.3);
	background-image: linear-gradient(150deg,
                                      rgba(255, 255, 222, 0) 0%,
                                      rgba(255, 255, 222, 0) 5%,
                                      rgba(255, 255, 244, 0.5) 15%,
                                      rgba(255, 244, 240, 0.05) 50%,
									  rgba(255, 255, 222, 0) 100%);
	background-size: 150% 150%;
	background-position: 10% 10%;
	left: 0;
	top: 0;
	pointer-events: none;
	mix-blend-mode: overlay;
	backdrop-filter: brightness(1.05) blur(1.5px);
	opacity: 0.5;
	transition: 0.3s;
	z-index: -5;
	perspective: 100px;
}
#about:hover ~ #about_background {
	opacity: 1;
	background-position: 25% 25%;
	background-size: 100% 100%;
	transform: rotateX(5deg) rotateY(-5deg) scale(0.99);
	backdrop-filter: brightness(1) blur(1.5px);
}
#about:hover {
	transform: rotateX(-5deg) rotateY(-5deg) scale(1.01);
}
#about {
	perspective: 100px;
	margin: 75px 75px 75px 160px;
    padding: 25px 50px;
    height: 75%;
    position: absolute;
    overflow: hidden;
	transition: 0.3s;
}
#about hr {
    margin-top: -10px;
    margin-bottom: 30px;
    height: 10px;
    border: none;
    background-image: linear-gradient(90deg,
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5) 33.33%,
                                    transparent 33.33%,
                                    transparent 100%);
    background-size: 5px 100%;
}
#about * {
    margin: 0px;
}
#about h1 {
    font-size: 48pt;
    font-family: "Zilla Slab", Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Alegreya SC", Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    /* padding-left: 15px;
    background-image: linear-gradient(to right, rgba(255, 56, 21, 0.5) 0%, rgba(0, 0, 0, 0) 100%); */
}
#about p {
    font-size: 20pt;
    font-family: 'Kreon', 'Trebuchet MS', Cambria, Cochin, Times, 'Times New Roman', serif;
    width: calc(40% * 40%);
    margin: 0px;
    margin-bottom: 10px;
}
#link_block, #setting_block {
    position: absolute;
	margin-left: 75px;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='rgba(22, 22, 22, 0.3)' stroke-width='5' stroke-dasharray='12%2c 8%2c 1' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
	border-radius: 5px;
	/* https://kovart.github.io/dashed-border-generator/ */
}
#link_block { margin-top: 75px; padding: 5px 10px; }
#setting_block { margin-top: 275px; padding: 0px 10px; }

.link_icon, .setting_icon {
    width: 50px;
    height: 50px;
    transition: 0.2s;
}
.link_icon { margin: 5px 0px; }
.setting_icon { margin: 10px 0px; }

.link_icon:before, .setting_icon:before {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	transition: 0.3s;
	z-index: -1;
	mix-blend-mode: overlay;
}
.link_icon:before { border-radius: 50%;	}

.link_icon:hover:before, .setting_icon:hover:before {
	margin-top: 25px;
	margin-left: 25px;
	width: 0px;
	height: 0px;
}
/*
#musescore:before { background-color: rgba(80, 170, 255, 0.6); }
#youtube:before { background-color: rgba(255, 120, 120, 0.6); }
#github:before { background-color: rgba(170, 170, 170, 0.6); }
#language:before { background-color: rgba(200, 200, 200, 0.4); }
#sources:before { background-color: rgba(200, 200, 200, 0.4); }
*/
#musescore:before { background-color: rgba(33, 100, 150, 0.6); }
#youtube:before { background-color: rgba(155, 44, 44, 0.6); }
#github:before { background-color: rgba(88, 88, 88, 0.6); }
#language:before { background-color: rgba(44, 44, 44, 0.3); }
#sources:before { background-color: rgba(44, 44, 44, 0.3); }

.link_icon:after, .setting_icon:after {
	content: '';
	width: 50px;
	height: 50px;
	background-size: 25px 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	transition: 0.3s;
	z-index: 1;
}
.link_icon:hover:after, .setting_icon:hover:after {
	background-size: 40px 40px;
}
.link_icon:active:after, .setting_icon:active:after {
	transition: 0s;
}

#musescore:after {
    background-image: url('assets/icons/musescore_alternate.png');
    filter: saturate(0) brightness(5);
}
#youtube:after {	
    background-image: url('assets/icons/youtube_alternate.png');
    filter: saturate(0) invert(1) brightness(5);
}
#github:after {
    background-image: url('assets/icons/github_alternate.png');
    filter: invert(1) brightness(5);
}
#musescore:hover:after { filter: saturate(0) brightness(5) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)); }
#youtube:hover:after { filter: saturate(0) invert(1) brightness(5) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)); }
#github:hover:after { filter: invert(1) brightness(5) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)); }
#musescore:active:after { filter: saturate(0) brightness(5) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)) invert(1); }
#youtube:active:after { filter: saturate(0) invert(1) brightness(5) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)) invert(1); }
#github:active:after { filter: invert(1) brightness(5) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)) invert(1); }

#language:after {
    background-image: url('assets/icons/language.png');
	filter: invert(1);
}
#sources:after {	
    background-image: url('assets/icons/sources.png');
	filter: invert(1);
}
#language:hover:after { filter: invert(1) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)); }
#sources:hover:after { filter: invert(1) drop-shadow(0px 0px 5px rgba(222, 222, 222, 0.5)); }
#language:active:after { filter: invert(1) drop-shadow(0px 0px 5px rgba(200, 200, 200, 0.5)) invert(1); }
#sources:active:after { filter: invert(1) drop-shadow(0px 0px 5px rgba(200, 200, 200, 0.5)) invert(1); }


.link_icon span, .setting_icon span {
	position: absolute;
	color: rgb(222, 222, 222);
	font-size: 18pt;
	/*font-family: 'Kreon', 'Trebuchet MS', Cambria, Cochin, Times, 'Times New Roman', serif;*/
	font-family: "Zilla Slab", Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	padding: calc((40px - 18pt) / 2) calc((40px - 18pt) / 1.5);
	background-color: rgb(22, 22, 22);
	background-image: linear-gradient(45deg, rgb(22, 22, 22), rgb(44, 44, 44));
	margin-left: 50px;
	margin-top: 2.5px;
	z-index: 1;
	border-radius: 5px;
	opacity: 0;
	transition: 0.2s;
	pointer-events: none;
	user-select: none;
	box-shadow: 0px 0px 5px rgba(22, 22, 22, 0.5);
}
.link_icon:hover span, .setting_icon:hover span {
	opacity: 1;
	margin-left: 70px;
}
.link_icon span:before, .setting_icon span:before {
	content: '';
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid rgb(22, 22, 22);
	width: 0px;
	height: 0px;
	margin-top: 5px;
	margin-left: -30px;
	position: absolute;
}


#background {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    /* transform: scale(0.4) */
    transition: 0.5s;
    z-index: 5;
}
.background_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    background-position: 50% 50%;
}
#c1 { z-index: -908; background-image: url("assets/low_resolution/c1.png"); }
#c2 { z-index: -909; background-image: url("assets/low_resolution/c2.png"); }
#c3 { z-index: -910; background-image: url("assets/low_resolution/c3.png"); }
#c4 { z-index: -901; background-image: url("assets/low_resolution/c4.png"); }
#c5 {
    z-index: -900;
    background-image: url("assets/low_resolution/c5.png");
    height: 200%;
    bottom: 0%;
    transform-origin: 50% 75%;
    background-position: 50% 75%;
}
#c6 { z-index: -903; background-image: url("assets/low_resolution/c6.png"); }
#c7 { z-index: -902; background-image: url("assets/low_resolution/c7.png"); }
#c8 { z-index: -905; background-image: url("assets/low_resolution/c8.png"); }
#c9 { z-index: -904; background-image: url("assets/low_resolution/c9.png"); }
#c10 { z-index: -911; background-image: url("assets/low_resolution/c10.png"); }
#c11 { z-index: -906; background-image: url("assets/low_resolution/c11.png"); }
#c12 { z-index: -907; background-image: url("assets/low_resolution/c12.png"); }
#c13 { z-index: -912; background-image: url("assets/low_resolution/c13.png"); }
#c14 {
    z-index: 2;
    background-image: url("assets/low_resolution/c14.png");
    transform: translate(0%, -100%);
    transition: 0.5s;
    background-position: 50% 100%;
    height: 150%;
}
#c15 {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 96, 155);
    position: absolute;
    z-index: 1;
}

#music_block {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
}
#music_block_title {
    position: absolute;
	right: 75px;
	bottom: 35px;
	text-align: right;
	transform: rotateX(-10deg) rotateY(10deg);
	animation: music_block_title_move_in 0.75s cubic-bezier(.26,.8,.51,1.07);
	transition: 0.5s;
}
@keyframes music_block_title_move_in {
	0% {
		right: -500px;
	} 100 {
		right: 75px;
	}
}
#music_block_title h1 {
	font-size: 72pt;
    font-family: "Zilla Slab", Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Alegreya SC", Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 500;
	margin-bottom: -30px;
}
#music_block_title p {
	font-size: 18pt;
	font-family: 'Kreon', 'Trebuchet MS', Cambria, Cochin, Times, 'Times New Roman', serif;
}
#cd {
	position: absolute;
	height: 800px;
	right: -300px;
	bottom: -450px;
	opacity: 0.3;
	animation: cd_rotate 30s infinite linear, cd_move_in 0.75s cubic-bezier(.26,.8,.51,1.07);
	z-index: -10;
	transition: 0.5s;
}
@keyframes cd_move_in {
	0% {
		right: -1000px;
	} 100% {
		right: -300px;
	}
}
@keyframes cd_rotate {
    0% {
        transform: rotateZ(0deg);
    } 100% {
        transform: rotateZ(-360deg);
    }
}
#album_block {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: album_block_move_in 0.75s ease;
	transition: 0.3s;
	top: 0%;
}
@keyframes album_block_move_in {
	0% {
		top: -100%;
	} 100% {
		top: 0%;
	}
}
#album_holder {
	/*height: min(calc(100% - 200px), 550px);*/
	height: 500px;
	aspect-ratio: 1;
	background-size: cover;
	position: absolute;
	left: 75px;
	top: 10%;
	bottom: 10%;
	perspective: 1000px;
	transform-style: preserve-3d; 
}
#album_section_title {
	font-size: 18pt;
	font-family: 'Ysabeau Infant', 'Trebuchet MS', Cambria, Cochin, Times, 'Times New Roman', serif;
	letter-spacing: -1px;
	position: absolute;
	font-weight: 400;
	margin-top: -7%;
	color: rgba(150, 150, 222, 0.8);
	width: 150%;
}
#album_section_title span {
	transition: 0.3s;
	cursor: pointer;
}
#album_section_title span:hover {
	color: rgba(200, 200, 255, 0.9);
}
.album_section_title_active {
	font-size: 24pt;
	font-weight: 700;
	color: rgba(200, 200, 255, 0.9);
}

#album {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.1);
	background-size: cover;
	transform-style: preserve-3d;
	display: block;
	background-image: url('assets/albums/classical_compositions_solo.jpg');
}
#album * {
	position: absolute;
	margin: 0px;
	user-select: none;
	
}
.album_classical_compositions_solo * {
	font-family: 'Sofia Sans Extra Condensed';
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	text-align: right;
	transform: translateZ(30px);
}
.album_classical_compositions_solo div {
	top: 15px;
	right: 15px;
	width: 60px;
	height: 120px;
	background-image: url('assets/seal_two.png');
	background-repeat: no-repeat;
	background-size: cover;
	filter: drop-shadow(0px, 0px, 5px, rgba(255, 0, 0, 0.3));
}

.album_classical_compositions_solo h1:after { content: 'Compositions'; }
.album_classical_compositions_solo h2:after { content: 'Classical'; }
.album_classical_compositions_solo h3:after { content: 'Soloist'; }

.album_classical_compositions_solo h1 {
	font-size: 72pt;
	font-weight: 500;
	color: white;
	right: 35px;
	bottom: 10px;
}
.album_classical_compositions_solo h2 {
	font-size: 48pt;
	font-weight: 300;
	color: white;
	right: 215px;
	bottom: 80px;
}
.album_classical_compositions_solo h3 {
	font-size: 28pt;
	font-weight: 300;
	color: white;
	right: 365px;
	bottom: 105px;
}
.album_classical_arrangements h1, .album_classical_arrangements h2 {
	background-image: url("assets/gold.jpg");
	background-size: 350%;
    background-clip: text;
    -webkit-background-clip: text;
}
.album_classical_arrangements h1:after { content: 'Arrangements'; }
.album_classical_arrangements h2:after { content: 'of Classical Music'; }
.album_classical_arrangements h3:after { content: 'Richard Yin'; }

.album_classical_arrangements h1 {
	transform: translateZ(30px);
	color: rgba(255, 255, 200, 0.5);
	font-family: 'Friz Quadrata No. 2 W01';
}
.album_classical_arrangements h2 {
	transform: translateZ(25px);
	font-family: 'Ysabeau Infant';
	color: rgba(150, 150, 50, 0.5);
	font-weight: 400;
	font-style: italic;
}
.album_classical_arrangements h3 {
	transform: translateZ(15px);
	font-family: 'Friz Quadrata No. 2 W01';
	color: rgba(255, 200, 150, 0.4);
	font-weight: 400;
}
.album_classical_arrangements div {
	transform: translateZ(10px);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -2;
}


#album_descriptions:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 125%;
	left: 0;
	top: 0;
	background-image: url("assets/paper_mask_2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: 0.8;
	display: block;
	z-index: -1;
	transform: scale(1);
}
#album_descriptions {
	height: calc(100% - 300px);
	width: calc(100% - 545px);
	aspect-ratio: 1;
	position: absolute;
	right: 75px;
	top: 75px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	transform: rotateX(-10deg) rotateY(10deg);
	white-space: nowrap;
}
#album_descriptions h2 {
	font-size: 42pt;
	font-family: 'IM Fell DW Pica', Brush Script MT, Georgia, Times, 'Garamond', 'Times New Roman', serif;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 30px;
}
#album_descriptions h2:after {
	content: '';
	left: 0;
	margin-left: 50px;
	margin-top: 60px;
	width: calc(100% - 120px);
	height: 5px;
	background-image: url("assets/line.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0.8;
}
#album_descriptions table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
#album_descriptions tr:not(:first-child):after {
	content: 'a';
	color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 20px;
	/* background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2) 0%, rgba(255, 0, 0, 0) 100%); */
	background-image: url('assets/album_hovermask_cropped.png');
	background-size: 100% 100%;
	font-size: 16pt;
	width: 85%;
	font-family: 'Cardo', 'Palatino', Gill Sans, Tahoma, sans-serif;	
	opacity: 0;
	transition: 0.3s;
	z-index: -1;
	user-select: none;
	pointer-events: none;
}
#album_descriptions tr:nth-child(2n):after {
	background-image: url('assets/album_hovermask_cropped_2.png');
}

#album_descriptions tr:not(:first-child):hover:after {
	opacity: 1;
	left: 30px;
}
#album_descriptions tr:not(:first-child) {
	transition: 0.3s;
}
#album_descriptions tr:not(:first-child):hover {
	color: rgba(255, 255, 255, 1);
}
#album_descriptions th {
	text-align: left;
	font-weight: normal;
	font-style: italic;
	font-size: 18pt;
	font-family: 'Cardo', 'Palatino', Gill Sans, Tahoma, sans-serif;
	color: rgb(100, 100, 100);
	transition: 0.5s;
	overflow: hidden;
}
#album_descriptions th:nth-child(1) { width: 60%; }
#album_descriptions th:nth-child(2) { width: 10%; }
#album_descriptions th:nth-child(3) { width: 30%; }
#album_descriptions th:nth-child(4) { width: 0%; }

#album_descriptions td {
	font-size: 14pt;
	font-family: 'Cardo', 'Palatino', Gill Sans, Tahoma, sans-serif;
	overflow-x: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
#album_descriptions td:first-child:before {
	content: '>>> ';
	letter-spacing: -5px;
	margin-left: -18pt;
	margin-right: 8px;
	opacity: 0;
	transition: 0.3s ease;
	pointer-events: none;
}
#album_descriptions td:first-child:hover:before {
	margin-left: 8px;
	opacity: 1;
	color: rgba(255, 255, 255, 1);
}
#album_previous, #album_next {
	background-image: url('assets/icons/arrows_serif.png');
	aspect-ratio: 1;
	background-size: cover;
	transition: 0.2s;
	cursor: pointer;
}
#album_previous, #album_next, #album_number {
	position: absolute;
	right: 0;
	top: 0;
}
#album_next {
	width: 70px;
	margin-right: -15px;
	margin-top: -10px;
	filter: brightness(0.9) invert(.7) sepia(.7) hue-rotate(0deg) saturate(250%) brightness(1) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}
#album_previous {
	transform: scaleX(-1);
	width: 50px;
	margin-right: 90px;
	margin-top: -20px;
	filter: brightness(0.9) invert(.7) sepia(.7) hue-rotate(180deg) saturate(250%) brightness(1) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}

#album_next:hover {
	transform: scale(1.05);
	filter: brightness(0.9) invert(.7) sepia(.7) hue-rotate(0deg) saturate(250%) brightness(1.1) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}
#album_previous:hover {
	transform: scaleX(-1) scale(1.05);
	filter: brightness(0.9) invert(.7) sepia(.7) hue-rotate(180deg) saturate(250%) brightness(1.1) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}
#album_next:active {
	filter: brightness(0.9) invert(.7) sepia(.7) hue-rotate(0deg) saturate(250%) brightness(0.9) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
	transition: 0s;
	margin-right: -17px;
}
#album_previous:active {
	filter: brightness(0.9) invert(.7) sepia(.7) hue-rotate(180deg) saturate(250%) brightness(0.9) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
	transition: 0s;
	margin-right: 92px;
}

#album_number:before {
	content: '';
	color: rgba(0, 0, 0, 0);
	user-select: none;
	width: 20px;
	height: 1px;
	background-color: white;
	position: absolute;
	transform: rotate(-45deg);
	margin-top: 25px;
	right: -10px;
	box-shadow: 1px 1px 2px black, -1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black;
}
#album_number, #album_number:after {
	font-size: 16pt;
	font-family: 'Cardo', 'Palatino', Gill Sans, Tahoma, sans-serif;
	font-style: italic;
	user-select: none;
	color: white;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5), 1px -1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5),
				 0px 1px 2px rgba(0, 0, 0, 0.5), 0px -1px 2px rgba(0, 0, 0, 0.5), -1px 0px 2px rgba(0, 0, 0, 0.5), 1px 0px 2px rgba(0, 0, 0, 0.5);
}
#album_number {
	margin-top: -8px;
	margin-right: 72px;
	transition: 0.2s;
}
#album_number:after {
	content: '08';
	position: absolute;
	margin-right: -20px;
	top: 18px;
}
#album_previous:hover ~ #album_number, #album_next:hover ~ #album_number {
	transform: scale(1.03);
}


#music_block_album_scroll {
	position: absolute;
	width: 50px;
	/*
	width: 100%;
	height: 25px;
	*/
	left: -12.5px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s;
	z-index: 5;
	overflow-x: hidden;
	overflow-y: scroll;
	transform-origin: top;
	transform: rotate(-90deg) translateY(-25px);
}
#music_block_album_scroll:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.3);
	left: -25px;
	top: 97.5px;
	width: 250px;
	transform: rotate(-90deg) translateY(-100px);
}
#music_block_album_scroll:hover ~ #album_block {
	margin-top: 25px;
}
#music_block_album_scroll:hover ~ #music_block_title {
	bottom: 10px;
}
#music_block_album_scroll:hover ~ #cd {
	bottom: -475px;
}
#music_block_album_scroll span {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	transition: 0.2s;
	opacity: 0;
	transform: rotate(90deg);
	margin: 7.5px;
	border: 2.5px solid rgba(255, 255, 255, 0);
	cursor: pointer;
}
#music_block_album_scroll:hover span {
	opacity: 1;
}
#music_block_album_scroll span:hover {
	filter: brightness(1.5) saturate(1.5);
	border: 2.5px solid rgba(255, 255, 255, 0.5);
	margin-left: 7.5px;
	margin-bottom: 7.5px;
}
#music_block_album_scroll span:active {
	filter: brightness(1.5) saturate(1.5) invert(0.2);
	transition: 0s;
}


#music_block_back {
	width: 100%;
	height: 70px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	position: absolute;
	left: 0;
	bottom: -22px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 40px;
	font-family: 'Lusitana', 'Times New Roman', Times, serif;
	color: rgba(255, 255, 255, 0.4);
	user-select: none;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	padding-top: 10px;
	transform: scaleY(0.5);
	display: none;
}
#music_block_back:hover {
	padding-top: 20px;
	bottom: -28px;
	opacity: 0.8;
}
#music_block_back:active {
	opacity: 1;
	color: rgba(255, 255, 255, 1);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
	transition: 0s;
}





#name_block {
    position: absolute;
    width: 90%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    bottom: 10%;
    left: max(5%, 36pt);
    user-select: none;
    z-index: 5;
}
#name_block * {
    margin: 0px;
    padding: 0px;
}
#name_block:after {
    content: '';
    width: 700px;
    min-width: 700px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    z-index: -1;
    position: absolute;
    bottom: -6pt;
    left: -6pt;
    filter: blur(12pt);
}
/* #name_block:active {
    transform: rotateX(10deg) rotateY(10deg);
} */
#h1_wrapper h1 {
    /* font-family: 'Alata', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Poltawski Nowy', Georgia, Times, 'Times New Roman', serif;
    font-size: 78pt;
    font-weight: 600;
    /* color: rgb(226, 252, 97); */
    color: transparent;
}
#h1_wrapper {
    filter: brightness(125%);
    background-color: rgb(226, 252, 97);
    background-image: url("assets/gold.jpg");
    background-size: 250%;
    background-clip: text;
    -webkit-background-clip: text;
    height: 78pt;
    transition: 0.2s ease-in-out;
    animation: move_h1_bg 60s infinite;
    text-shadow: -3.6pt 3.6pt 3.6pt rgba(255, 255, 255, 0.3);
    margin: 0px;
    min-width: 720px;
}
#h1_wrapper:hover {
    filter: brightness(150%);
    text-shadow: -3.6pt 3.6pt 4.8pt rgba(255, 255, 255, 0.35);
}
@keyframes move_h1_bg {
    0% {
        background-position: 0% 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}

#name_block span {
    /* font-family: 'Jost', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Kreon', Tahoma, sans-serif;
    font-weight: 300;
    font-size: 36pt;
    color: rgb(231, 231, 231);
    text-shadow: 0pt 0pt 6pt rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 0px;
    transition: 0.2s;
    display: block;
    min-width: 800px;
}
#name_block span:hover {
    color: rgb(244, 244, 244);
    text-shadow: 0pt 0pt 8.4pt rgba(0, 0, 0, 0.7);
}

#menu_block {
    position: absolute;
    top: 5%;
    right: min(3.5%, calc(98.5% - 950px));
    text-align: right;
    user-select: none;
    cursor: pointer;
    z-index: 5;
}
#menu_block h1 {
    line-height: 15pt;
    font-size: 24pt;
    color: rgba(222, 222, 222, 0.9);
    font-family: 'Lusitana', 'Times New Roman', Times, serif;
    font-weight: normal;
    transition: 0.5s;
}
#menu_block h1:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0pt 0pt 6pt rgba(0, 0, 0, 0.9);
}
#menu_block h1:active {
    transition: 0s;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0pt 0pt 10pt rgba(0, 0, 0, 1);
}
#menu_block h1:after {
    content: '';
    padding: 0pt 20pt;
    filter: invert(0.9);
    opacity: 0.9;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#menu_block h1:hover:after {
    filter: invert(1) drop-shadow(0px 0px 6pt rgba(0, 0, 0, 0.9));
}
#menu_block h1:nth-child(1):after {
    background-image: url("assets/icons/about.png");
    background-size: 40pt;
}
#menu_block h1:nth-child(2):after {
    background-image: url("assets/icons/projects.png");
    background-size: 35pt;
}
#menu_block h1:nth-child(3):after {
    background-image: url("assets/icons/music.png");
    background-size: 40pt;
}
#menu_block h1:nth-child(4):after {
    background-image: url("assets/icons/resources.png");
    background-size: 40pt;
}
#menu_block h1:nth-child(5):after {
    background-image: url("assets/icons/resume.png");
    background-size: 35pt;
}
#select_animation {
    position: absolute;
    top: -5%;
    right: -20%;
    z-index: -1;
}